    <div class="contact">
      {% capture contact %}{% include contact.md %}{% endcapture %}
      {{ contact | markdownify }}
    </div>

    <nav class="menu-cont menu-cont--rel">
      <menu class="main-menu" id="menu">
        <li class="main-menu__item main-menu__item--bright">
          <a href="/">Home</a>
        </li>
        <li class="main-menu__item">
          <a href="/about.html">About</a>
        </li>
        <li class="main-menu__item">
          <a href="/#projects">Main projects</a>
        </li>
        <li class="main-menu__item">
          <a href="/#web+development">Web development</a>
        </li>
        <li class="main-menu__item">
          <a href="/#graphic+design">Graphic design</a>
        </li>
        <li class="main-menu__item">
          <a href="/#photography">Photography</a>
        </li>
        <li class="main-menu__item main-menu__item--external">
          <a href="https://inclusief.design" target="_blank">inclusief.design ></a>
        </li>
      </menu>
    </nav>

    <footer>
      <p class="footer__colofon">
        FMJansen –
        KvK: 64878627 –
        btw-id: NL002361041B09 –
        Last update: {{ site.time | date: '%B %Y' }} –
        <a href="{% link privacy.md %}">Privacy</a>
      </p>
    </footer>

    <script type="text/javascript">
      console.log('did I do something stupid? Let me know with a PR or issue 🌸 https://github.com/fmjansen/fmjansen.com');
    </script>

  </body>
</html>
