	<footer>
		<fieldset class="color-scheme">
			<legend>Change theme to:</legend>
			<label>
				<input value="light" name="theme_toggle_state" type="radio" class="color-scheme-toggle">
				a light version
			</label>
			<label>
				<input value="auto" name="theme_toggle_state" type="radio" class="color-scheme-toggle">
				your system setting
			</label>
			<label>
				<input value="dark" name="theme_toggle_state" type="radio" class="color-scheme-toggle">
				a dark version
			</label>
		</fieldset>

		<p class="footer__colofon">
			Floris Jansen (fmjansen.com) –
			<a href="{% link privacy.md %}">Privacy</a> –
			<a href="{% link accessibility.md %}">Accessibility</a> –
			KvK: 64878627 –
			btw-id: NL002361041B09 –
			Last update: {{ site.time | date: '%B %Y' }}
		</p>
	</footer>

	</body>
</html>
