    <section class="contact" id="contact">
      <h2 class="section-head">Contact</h2>

      <div class="contact__option">
        <div class="you-cont">
          <p class="you">
            Oh, right. Yeah, yeah sure. So... talk to you later?
          </p>
        </div>
        <div class="you-cont">
          <div class="me">
            Yeah please do! :D
          </div>
        </div>
      </div>

      <div class="contact__option">
        <h3>Communication</h3>
        <ul>
          <li>
            <a class="contact__link" href="mailto:hej@fmjansen.nl">✉️ e-mail</a>
            <br>
            <code class="contact__addition">hej@fmjansen.nl</code>
          </li>
          <li>
            <a class="contact__link" href="https://telegram.me/fmjansen">💬 Telegram</a>
          </li>
          <li>
            <a class="contact__link" href="https://keybase.io/fmjansen">
              🔑 Keybase
            </a>
          </li>
        </ul>
      </div>

      <div class="contact__option">
        <h3>Following</h3>
        <ul>
          <li>
            <a class="contact__link" href="https://www.twitter.com/fmjansen">
              🐦 Twitter
            </a>
          </li>
          <li>
            <a class="contact__link" href="https://www.instagram.com/fmjansennl/">
              🖼 Instagram
            </a>
          </li>
          <li>
            <a class="contact__link" href="https://linkedin.com/in/florismartijnjansen">
              💼 LinkedIn
            </a>
          </li>
          <li>
            <a class="contact__link" href="https://github.com/fmjansen">
              💻 Github
            </a>
          </li>
          <li>
            <a class="contact__link" href="https://www.last.fm/user/lastfmjansen">
              🎧 Last.fm
            </a>
          </li>
        </ul>
      </div>
    </section>

    <nav class="menu-cont menu-cont--rel">
      <menu class="main-menu"
         style="--color: #fff; --background: #{{ page.background }};">
        <li class="main-menu__item main-menu__item--bright">
          <a href="/">FMJansen</a>
        </li>
        <li class="main-menu__item">
          <a href="/about.html">About&nbsp;📄</a>
        </li>
        <li class="main-menu__item">
          <a href="/#projects">Main&nbsp;projects</a>
        </li>
        <li class="main-menu__item">
          <a href="/#web+development">Web&nbsp;development</a>
        </li>
        <li class="main-menu__item">
          <a href="/#graphic+design">Graphic&nbsp;design</a>
        </li>
        <li class="main-menu__item">
          <a href="/#photography">Photography</a>
        </li>
        <li class="main-menu__item">
          <a href="#contact">Contact</a>
        </li>
      </menu>
    </nav>

    <footer>
      <p class="footer__colofon">
        FMJansen –
        KvK: 64878627 –
        btw-id: NL002361041B09 –
        Last update: {{ site.time | date: '%B %Y' }} –
        <a href="{% link privacy.md %}">Privacy</a>
      </p>
    </footer>

    <script type="text/javascript">
      console.log('did I do something stupid? Let me know with a PR or issue 🌸 https://github.com/fmjansen/fmjansen.com');
    </script>

  </body>
</html>
