<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">

		<title>{{ page.title | default: 'Home' }} – {{ site.title }}</title>
		<meta property="og:title" content="{{ page.title }} – {{ site.title }}">
		<meta name="twitter:title" content="{{ page.title }} – {{ site.title }}">

    <!-- TODO: excerpt -->
		<meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
		<meta name="twitter:description" content="{{ site.description }}">

		<meta property="og:image" content="{{ site.url }}{% og_filter %}">
		<meta name="twitter:image" content="{{ site.url }}{% og_filter %}">

    <meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.permalink }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@{{ site.twitter_username }}">
		<meta name="twitter:creator" content="@{{ site.twitter_username }}">

		<meta name="robots" content="index,follow">
		<meta name="keywords" content="floris, jansen, fmjansen, design, web, developer, interaction, netherlands">
		<meta name="author" content="Floris Jansen">

		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name="theme-color" content="#162933">

    <link rel="alternate" type="application/atom+xml" title="Feed for Floris’ posts" href="/feed.xml">

		<script src="/static/js/2023.js?v={{ site.time }}" async></script>

		<link rel="stylesheet" href="/static/css/2023.css?v={{ site.time }}">
		<link rel="shortcut icon" href="/favicon.png">

		<link rel="preload" href="/static/fonts/Satoshi-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/static/fonts/Gambarino-Regular.woff2" as="font" type="font/woff2" crossorigin>

    {% webmentions_head %}

	</head>
	<body>


