<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">

		<title>{{ page.title | default: 'Home' }} – {{ site.title }}</title>
		<meta property="og:title" content="{{ page.title }} – {{ site.title }}">
		<meta name="twitter:title" content="{{ page.title }} – {{ site.title }}">

		<!-- TODO: excerpt -->
		<meta name="description" content="{{ page.excerpt | default: site.description }}">
		<meta property="og:description" content="{{ page.excerpt | default: site.description }}">
		<meta name="twitter:description" content="{{ page.excerpt | default: site.description }}">

		<meta property="og:image" content="{{ site.url }}{% og_filter %}">
		<meta name="twitter:image" content="{{ site.url }}{% og_filter %}">

		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ page.permalink }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@{{ site.twitter_username }}">
		<meta name="twitter:creator" content="@{{ site.twitter_username }}">

		<meta name="robots" content="index,follow">
		<meta name="keywords" content="floris, jansen, fmjansen, design, web, developer, interaction, netherlands">
		<meta name="author" content="Floris Jansen">

		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name="theme-color" content="#162933">

		<link rel="alternate" type="application/atom+xml" title="Feed for Floris’ posts" href="/feed.xml">

		<script src="/static/js/2023.js?v={{ site.time }}" async></script>

		<link rel="stylesheet" href="/static/css/2023.css?v={{ site.time }}">
		<link rel="shortcut icon" href="/favicon.png">

		<link rel="preload" href="/static/fonts/satoshi-variable.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/static/fonts/satoshi-variableitalic.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/static/fonts/instrumentserif-regular.woff2" as="font" type="font/woff2" crossorigin>

		{% webmentions_head %}

	</head>
	<body>

		<script>
			// Color scheme toggle based on https://brandur.org/fragments/dark-mode-notes
			const LOCAL_STORAGE_KEY_THEME = 'theme';

			const THEME_VALUE_AUTO  = 'auto';
			const THEME_VALUE_DARK  = 'dark';
			const THEME_VALUE_LIGHT = 'light';

			const THEME_CLASS_ALL = Object.freeze([
				THEME_VALUE_DARK,
				THEME_VALUE_LIGHT
			])

			window.addEventListener('DOMContentLoaded', () => {
				document.querySelectorAll('.color-scheme-toggle').forEach((toggle) => {
					toggle.addEventListener('change', (e) => {
						if (e.target.checked) {
							if (e.target.value == THEME_VALUE_AUTO) {
								localStorage.removeItem(LOCAL_STORAGE_KEY_THEME)
							} else {
								localStorage.setItem(LOCAL_STORAGE_KEY_THEME, e.target.value)
							}
						}

						setThemeFromLocalStorageOrMediaPreference()
					}, false)
				})
				setThemeFromLocalStorageOrMediaPreference()
			})

			function setThemeFromLocalStorageOrMediaPreference() {
				const theme = localStorage.getItem(LOCAL_STORAGE_KEY_THEME) || THEME_VALUE_AUTO
				console.log('init');

				switch (theme) {
					case THEME_VALUE_AUTO:
						if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
							setDocumentClasses(THEME_VALUE_DARK)
						} else if (window.matchMedia('(prefers-color-scheme: light)').matches) {
							setDocumentClasses(THEME_VALUE_LIGHT)
						}
						break

					case THEME_VALUE_DARK:
						setDocumentClasses(THEME_VALUE_DARK)
						break

					case THEME_VALUE_LIGHT:
						setDocumentClasses(THEME_VALUE_LIGHT)
						break
				}

				document.querySelectorAll(`.color-scheme-toggle[value='${theme}']`).forEach(function(toggle) {
					toggle.checked = true;
					console.log(theme);
				})
			}


			function setDocumentClasses(...classes) {
				THEME_CLASS_ALL.forEach((themeClass) => {
					if (classes.includes(themeClass)) {
						document.documentElement.classList.add(themeClass)
					} else {
						document.documentElement.classList.remove(themeClass)
					}
				})
			}

			window.addEventListener("storage", (e) => {
				if (e.key == LOCAL_STORAGE_KEY_THEME) {
					setThemeFromLocalStorageOrMediaPreference()
				}
			})

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
				setThemeFromLocalStorageOrMediaPreference()
			})

			setThemeFromLocalStorageOrMediaPreference()
		</script>


