{% include head.html %}

<header class="home">
	<h1>Floris Jansen</h1>
</header>

{% include menu.html %}

{% include room.html %}

<div class="room">
	<svg class="smallest" viewbox="0 0 1549 2104" width="1549" height="2104">
		<title>A desk with a mug and laptop, an anti-fascist poster behind it, handdrawn illustration</title>
		<use href="#desk" width="1549" transform="translate(0,659)"></use>
		<use href="#poster" width="728" transform="translate(690, -585)"></use>
		<use href="#mug" width="150" transform="translate(390, 245)"></use>
		<use href="#laptop" width="382" transform="translate(610, 201)"></use>
	</svg>
	<svg class="small" viewbox="0 0 2353 2104" width="2353" height="2104">
		<title>A desk with a mug and laptop, an anti-fascist poster behind it, plant next to it, handdrawn illustration</title>
		<use href="#desk" width="1549" transform="translate(804,659)"></use>
		<use href="#poster" width="728" transform="translate(1494, -585)"></use>
		<use href="#mug" width="150" transform="translate(1194, 245)"></use>
		<use href="#laptop" width="382" transform="translate(1414, 201)"></use>
		<use href="#bigplant" width="949" transform="translate(0, 201)"></use>
	</svg>
	<svg class="medium" viewbox="0 0 3861 2104" width="3861" height="2104">
		<title>A desk with a mug and laptop, an anti-fascist poster behind it, plant on one side, bookcase on the other, handdrawn illustration</title>
		<use href="#desk" width="1549" transform="translate(804,659)"></use>
		<use href="#poster" width="728" transform="translate(1494, -585)"></use>
		<use href="#mug" width="150" transform="translate(1194, 245)"></use>
		<use href="#laptop" width="382" transform="translate(1414, 201)"></use>
		<use href="#bigplant" width="949" transform="translate(0, 201)"></use>
		<use href="#bookcase" width="1415" transform="translate(2446, 0)"></use>
	</svg>
	<svg class="large" viewbox="0 0 4811 2304" width="4811" height="2304">
		<title>A desk with a mug and laptop, an anti-fascist poster and bike hung behind it, plant on one side, bookcase on the other, handdrawn illustration</title>
		<use href="#desk" width="1549" transform="translate(1754,759)"></use>
		<use href="#poster" width="728" transform="translate(2444, -685)"></use>
		<use href="#mug" width="150" transform="translate(2154, 345)"></use>
		<use href="#laptop" width="382" transform="translate(2364, 301)"></use>
		<use href="#bigplant" width="949" transform="translate(950, 301)"></use>
		<use href="#bookcase" width="1415" transform="translate(3396, 100)"></use>
		<use href="#bike" width="1570" transform="translate(0, -730)"></use>
	</svg>
	<svg class="largest" viewbox="0 0 5457 2304" width="5457" height="2304">
		<title>A desk with a mug and laptop, an anti-fascist poster and bike hung behind it, plant on one side, bookcase and small plant on a stool on the other, handdrawn illustration</title>
		<use href="#desk" width="1549" transform="translate(1754,759)"></use>
		<use href="#poster" width="728" transform="translate(2444, -685)"></use>
		<use href="#mug" width="150" transform="translate(2154, 345)"></use>
		<use href="#laptop" width="382" transform="translate(2364, 301)"></use>
		<use href="#bigplant" width="949" transform="translate(950, 301)"></use>
		<use href="#bookcase" width="1415" transform="translate(3396, 100)"></use>
		<use href="#bike" width="1570" transform="translate(0, -730)"></use>
		<use href="#smallplant" width="542" transform="translate(4915, 570)"></use>
	</svg>
</div>

<main class="home" id="site-content">
	{{ content }}
</main>

{% include foot.html %}
