{% include head.html %}

<nav aria-label="Going home">
	<p>
		<a href="/">← Home</a> <span class="light">(</span>Floris Jansen<span class="light">)</span>
	</p>
</nav>

<main class="default" id="site-content">
	{{ content }}
</main>

<aside class="webmentions">
	{% webmentions page.url %}
</aside>

{% if page.previous.url or page.next.url %}
<nav aria-labelledby="posts">
	<h2 id="posts">Older and newer posts</h2>
	<ul class="chrono-links">
		{% if page.next.url %}
			<li class="newer">
				Newer post:
				<a href="{{page.next.url}}">{{page.next.title}}</a>
			</li>
		{% endif %}
		{% if page.previous.url %}
			<li class="older">
				Older post:
				<a href="{{page.previous.url}}">{{page.previous.title}}</a>
			</li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% include foot.html %}
