{% include head.html %}

    <section class="title" id="site-content"
      style="--color: #{{ page.color }}; --background: #{{ page.background }};">
      <h1 class="title__heading">{{ page.title }}</h1>
      {% if page.design_kind %}
        <span class="title__category">{{ page.design_kind }} • {{ page.year }}</span>
      {% else %}
        <span class="title__category">{{ page.category }} • {{ page.year }}</span> 
      {% endif %}
    </section>

    <main class="project">
      {{ content }}
    </main>

    {% if page.collection %}
      {% assign links = site[page.collection]  %}
    {% endif %}

    {% for link in links %}
      {% if link.title == page.title %}
        {% unless forloop.first %}
          {% assign prev = tmpprev %}
        {% endunless %}
        {% unless forloop.last %}
          {% assign next = links[forloop.index] %}
        {% endunless %}
      {% endif %}
      {% assign tmpprev = link %}
    {% endfor %}

    <nav class="prevnext">
      {% if prev %}
        <a class="prevnext__item" href="{{ prev.url}}"
          style="--color: #{{ prev.color }};
          --background: #{{ prev.background }};">
          Previous case:
          <span class="prevnext__title">{{ prev.title }}</span>
          {% if prev.design_kind %}
            <span class="prevnext__category">{{ prev.design_kind }}</span>
          {% else %}
            <span class="prevnext__category">{{ prev.category }}</span>
          {% endif %}
        </a>
      {% endif %}
      {% if next %}
        <a class="prevnext__item" href="{{ next.url}}"
          style="--color: #{{ next.color }};
          --background: #{{ next.background }};">
          Next case:
          <span class="prevnext__title">{{ next.title }}</span>
          {% if next.design_kind %}
            <span class="prevnext__category">{{ next.design_kind }}</span>
          {% else %}
            <span class="prevnext__category">{{ next.category }}</span>
          {% endif %}
        </a>
      {% endif %}
    </nav>

{% include foot.html %}
