/*-------------------------------------*\

  Home

  - Floris Jansen, hey@fmjansen.nl

  2023.scss
  + Fonts
  + CSS Variables
  + Reset
  + Paragraph styles

\*-------------------------------------*/

@font-face {
	font-display: swap;
	font-family: "Satoshi";
	font-style: normal;
	font-weight: 400;
	unicode-range: "U+00-U+7F, U+2000-U+206F, U+2197";
	src: local("Satoshi Regular"),
		url("../fonts/Satoshi-Regular.woff2") format("woff2"),
		url("../fonts/Satoshi-Regular.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Satoshi";
	font-style: normal;
	font-weight: 700;
	unicode-range: "U+00-U+7F, U+2000-U+206F";
	src: local("Satoshi Bold"),
		url("../fonts/Satoshi-Bold.woff2") format("woff2"),
		url("../fonts/Satoshi-Bold.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "Gambarino";
	font-style: normal;
	font-weight: 400;
	unicode-range: "U+00-U+7F, U+2000-U+206F";
	src: local("Gambarino"),
		url("../fonts/Gambarino-Regular.woff2") format("woff2"),
		url("../fonts/Gambarino-Regular.woff") format("woff");
}

/*-------------------------------------*\
  CSS Variables
\*-------------------------------------*/
:root {
	--dark: 12, 21, 31;
	--theme: 228, 72, 91;
	--light: 254, 225, 194;
	--pad: 7vw;
	--sans-serif: "Satoshi", "Inter", "Helvetica Neue", Arial,
		sans-serif;
	--serif: "Gambarino", "Baskerville", serif;

	--background: var(--light);
	--color: var(--theme);
	--text: var(--dark);

	@media (prefers-color-scheme: dark) {
		--background: var(--dark);
		--color: var(--theme);
		--text: var(--light);
	}
}

/*-------------------------------------*\
  Reset
\*-------------------------------------*/
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background: rgba(var(--background), 1);
	color: rgba(var(--text), 1);
	font-family: var(--sans-serif);
	font-size: clamp(1.1em, 4vw, 1.75em);
	line-height: 1.65;
	margin: 0;
	word-wrap: break-word;
}

*:focus-visible {
	outline: .2em dashed blue;
	outline-offset: .2em;

	@media (prefers-color-scheme: dark) {
		outline-color: gold;
	}
}

/*-------------------------------------*\
  Paragraph styles
\*-------------------------------------*/
h1,
h2,
h3 {
	font-family: var(--serif);
	font-weight: 400;
	line-height: 1.1;
}

h1 {
	font-size: Min(16vw, 6rem);
	margin: 0 0 2em;
	text-align: center;
	text-wrap: balance;
}

.home {
	font-size: Min(15vw, 7rem);
	margin-top: 2.5em;
	
	&::after {
		width: 45vw;
		height: 45vw;
		content: "";
		background: none;
		display: block;
		position: absolute;
		border-radius: 50% 50% 0 0;
		box-shadow: -4vw -4vw 3vw -4vw;
		opacity: 0.25;
		top: Max(14vh, 12vw);
		left: 8vw;
	}
}

h2 {
	font-size: 2em;
	margin: 2em 0 .5em;
}

h3 {
	font-size: 1.5em;
	margin-top: 3em;
}

h4 {
	margin: 2em 0 -.5em;
}

hr {
	border-style: solid;
	margin: 10vw 0;
	max-width: 50ch;
}

p,
ul,
ol {
	max-width: 50ch;
}

li {
	margin: .5em 0;
}

a {
	color: rgba(var(--text), 1);
	text-decoration-color: mediumblue;

	@media (prefers-color-scheme: dark) {
		text-decoration-color: #e4485b;
	}

	&[href^="http"]::after {
		content: " ↗";
		color: rgba(var(--color), 1);

		@media (prefers-color-scheme: dark) {
			color: gold;
		}
	}
}

.light {
	color: rgba(var(--text), .7);
}

button {
	--shadow: rgba(0, 0, 0, 0.2);

	@media (prefers-color-scheme: dark) {
		--shadow: rgba(0, 0, 0, 1);
	}

	background-color: rgba(var(--text), 1);
	border-radius: .4em;
	border: none;
	box-shadow: 0 .1em .3em var(--shadow),
		inset 0 -.1em .2em rgba(var(--background), .2);
	color:rgba(var(--background), 1);
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	padding: .6em 1em;
	text-shadow: 0 .05em .1em rgba(var(--background), .2);
	transition: all 250ms cubic-bezier(.19,1,.22,1);

	&:hover,
	&:focus-visible {
		box-shadow: 0 .25em .4em var(--shadow),
			inset 0 -.1em .2em rgba(var(--background), .2);
		transform: translateY(-.15em);
		transition: all 250ms cubic-bezier(.19,1,.22,1);
	}

	&:active {
		transform: translate(0);
		transition: all 0ms cubic-bezier(.19,1,.22,1);
	}
}

.date {
	color: rgba(var(--text), .7);
	max-width: 100%;
	margin: -4em 0 4em;
	text-align: center;
}

/*-------------------------------------*\
  Blocks
\*-------------------------------------*/
nav,
main,
aside,
footer {
	padding: var(--pad);
}

nav {
	padding: Calc(var(--pad) / 1.5) var(--pad);
}

.intro {
	font-size: 1.5em;
	line-height: 1.4;
	max-width: 27ch;

	@media (min-width: 40em) {
		margin-bottom: 10vw;
		margin-left: 25vw;
	}
}

.activities {
	padding-left: 4vw;

	li {
		border-bottom: 1px solid rgba(var(--text), .2);
		list-style: none;
		padding-bottom: 1.5em;
		padding-top: 1.5em;
	
		&:last-child {
			border: none;
		}
	}
}

.social {
	column-gap: 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin-top: 2.75em;
	max-width: none;
	padding: 0;
	row-gap: 1em;

	li {
		border: none;
		padding: 0;
	}
}

.a11y-webring-club {
	text-align: center;

	p {
		margin: auto;
	}

	ul {
		list-style: none;
		row-gap: 0;
	}
}

.workshops,
.posts {
	@extend .light;
	@extend .activities;
	font-size: .8em;

	strong,
	.title {
		display: block;
		font-size: 1.25em;
		margin-bottom: .5em;
	}

	strong {
		color: rgba(var(--text), 1);
	}
}

p:has(.tocgle) {
	max-width: none;
}

.tocgle {
	margin: 5vw auto 5vw;
	display: block;
}

.toc {
	margin: 0 auto 10vw;

	&[aria-hidden="true"] {
		display: none;
		visibility: hidden;
	}
}

.take-away {
	background-color: rgba(var(--text), .1);
	border: 2.5px solid rgba(var(--text), 1);
	border-radius: .4em;
	box-sizing: border-box;
	margin-top: 2em;
	padding: .8em 1em;

	&::before {
		content: "👉 ";
	}
}

.webmentions {
	&__not-found {
		opacity: .7;
		text-align: center;
		max-width: 100%;
	}
}

footer {
	font-size: .8em;
	text-align: center;

	p {
		margin: auto;
		max-width: none;
	}
}