@use 'sass:math';

/*-------------------------------------*\

  Home

  - Floris Jansen, hey@fmjansen.nl

  2023.scss
  + Fonts
  + CSS Variables
  + Reset
  + Paragraph styles

\*-------------------------------------*/

@font-face {
	font-display: swap;
	font-family: 'Instrument Serif';
	src: local("Instrument Serif"),
		 url('../fonts/instrumentserif-regular.woff2') format('woff2'),
		 url('../fonts/instrumentserif-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: "Satoshi";
	font-style: normal;
	font-weight: 300 900;
	src: local("Satoshi Variable"),
		 url('../fonts/satoshi-variable.woff2') format('woff2'),
		 url('../fonts/satoshi-variable.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: "Satoshi";
	font-style: italic;
	font-weight: 300 900;
	src: local("Satoshi Variable Italic"),
		 url('../fonts/satoshi-variableitalic.woff2') format('woff2'),
		 url('../fonts/satoshi-variableitalic.woff') format('woff');
}

@keyframes changeBackground {
	0% {
		background: var(--sand);
	}
	100% {
		background: var(--pink-light);
	}
}
@keyframes changeColor {
	0% {
		color: var(--sand);
	}
	100% {
		color: var(--pink-light);
	}
}


/*-------------------------------------*\
  CSS Variables
\*-------------------------------------*/
:root {
	--pad: 7vw;
	--sans-serif: "Satoshi", "Inter", "Helvetica Neue", Arial,
		sans-serif;
	--serif: "Instrument Serif", "Gambarino", "Baskerville", serif;
	--sand: oklch(0.93 0.05 68.95);
	--pink: oklch(0.63 0.19 17.8);
	--pink-light: oklch(from var(--pink) calc(l + .3) calc(c - .1) h);
	--blue: oklch(0.19 0.02 251.72);
}

/*-------------------------------------*\
  Reset
\*-------------------------------------*/
html {
	overflow-x: hidden;
	scroll-behavior: smooth;

	@media (prefers-color-scheme: light) {
		--background: var(--sand);
		--color: var(--pink);
		--text: var(--blue);
	}

	@media (prefers-color-scheme: dark) {
		--background: var(--blue);
		--color: var(--pink);
		--text: var(--sand);
	}

	&.light {
		--background: var(--sand);
		--color: var(--pink);
		--text: var(--blue);

		body, a {
			animation: changeBackground auto linear forwards;
			animation-timeline: scroll(root);
		}
	}

	&.dark {
		--background: var(--blue);
		--color: var(--pink);
		--text: var(--sand);

		body, a {
			animation: changeColor auto linear forwards;
			animation-timeline: scroll(root);
		}
	}
}

body {
	background: var(--background);
	color: var(--text);
	display: grid;
	grid-template-columns: 
		[full-start] var(--pad)
		[wide-start] minmax(0, var(--pad)) 
		[content-start centered-start] minmax(min(50ch, calc(100vw - 2 * var(--pad))), 1fr) [content-end filler-start]
		minmax(0, 1fr) [filler-end centered-end]
		minmax(0, var(--pad)) [wide-end]
		var(--pad) [full-end];
	font-family: var(--sans-serif);
	font-size: clamp(1.2em, 4vw, 1.6em);
	font-weight: 400;
	line-height: 1.65;
	margin: 0;
	word-wrap: break-word;
	font-feature-settings: "ss02" on;

	@supports (font-variant-ligatures: discretionary-ligatures) {
		font-variant-ligatures: discretionary-ligatures;
	}
	@supports (font-variant-numeric: diagonal-fractions) {
		font-variant-numeric: diagonal-fractions;
	}
}

*:focus-visible {
	outline: .2em solid blue;
	outline-offset: .2em;

	@media (prefers-color-scheme: dark) {
		outline-color: gold;
	}
}

.light *:focus-visible {
	outline-color: blue;
}

.dark *:focus-visible {
	outline-color: gold;
}


/*-------------------------------------*\
  Paragraph styles
\*-------------------------------------*/
h1,
h2,
h3 {
	font-family: var(--serif);
	font-weight: 400;
	line-height: 1.05;
}

h1 {
	font-size: Min(16vw, 6rem);
	grid-column: wide;
	margin: 0 0 2em;
	text-align: center;
	text-wrap: balance;
}

.home h1 {
	font-size: Min(15vw, 7rem);
	margin: Calc(2.5em + var(--pad)) 0 1em;

	&::after {
		width: 45vw;
		height: 45vw;
		content: "";
		background: none;
		display: block;
		position: absolute;
		pointer-events: none;
		border-radius: 50% 50% 0 0;
		box-shadow: -4vw -4vw 3vw -4vw;
		opacity: 0.25;
		top: Max(14vh, 12vw);
		left: 8vw;
	}
}

.home h2 {
	grid-column-start: wide-start;
}

h2 {
	font-size: 2em;
	margin: 2em 0 .5em;
	grid-column: content;
}

h3 {
	font-size: 1.5em;
	margin-block-start: 3em;
	grid-column: content;
}

h4 {
	margin: 2em 0 -.5em;
	grid-column: content;
}

hr {
	border-style: solid;
	margin: 10vw 0;
	grid-column: centered;
}

p,
ul,
ol {
	grid-column: content;
	margin: .5em 0;
}

li {
	margin: .5em 0;
}

a {
	color: currentColor;
	text-decoration-color: mediumblue;

	@media (prefers-color-scheme: dark) {
		text-decoration-color: var(--pink);
	}

	&[href^="http"]::after {
		content: " ↗";
		color: var(--color);

		@media (prefers-color-scheme: dark) {
			color: gold;
		}
	}
}

.light {
	a {
		color: var(--text);
		text-decoration-color: mediumblue;
	}

	&[href^="http"]::after {
		color: var(--color);
	}
}

.dark {
	a {
		color: var(--text);
		text-decoration-color: var(--pink);
	}

	&[href^="http"]::after {
		color: gold;
	}
}



p:has(img) {
	grid-column: centered;
}

img {
	max-width: 100%;
	height: auto;
}

.light-box {
	color: oklch(from var(--text) l c h / calc(alpha - 0.3));
}

button {
	--shadow: rgba(0, 0, 0, 0.2);
	
	background-color: var(--text);
	border-radius: .4em;
	border: none;
	box-shadow: 0 .1em .3em var(--shadow),
	inset 0 -.1em .2em oklch(from var(--background) l c h / calc(alpha - 0.8));
	color: var(--background);
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	padding: .6em 1em;
	text-shadow: 0 .05em .1em oklch(from var(--background) l c h / calc(alpha - 0.8));
	transition: all 250ms cubic-bezier(.19,1,.22,1);
	
	@media (prefers-color-scheme: dark) {
		--shadow: rgba(0, 0, 0, 1);
	}

	&:hover,
	&:focus-visible {
		box-shadow: 0 .25em .4em var(--shadow),
			inset 0 -.1em .2em oklch(from var(--background) l c h / calc(alpha - 0.8));
		transform: translateY(-.15em);
		transition: all 250ms cubic-bezier(.19,1,.22,1);
	}

	&:active {
		transform: translate(0);
		transition: all 0ms cubic-bezier(.19,1,.22,1);
	}
}

.light button {
	--shadow: rgba(0, 0, 0, 0.2);
}

.dark button {
	--shadow: rgba(0, 0, 0, 1);
}

.date {
	color: oklch(from var(--text) l c h / calc(alpha - 0.3));
	grid-column: centered;
	max-width: 100%;
	margin: -4em 0 4em;
	text-align: center;
}

.color-scheme {
	border: none;
	padding: 1em;
	background: oklch(from var(--text) l c h / calc(alpha - 0.9));
	display: flex;
	flex-wrap: wrap;
	grid-column: full;
	justify-content: center;
	gap: .5em;

	legend {
		float: left;
	}
}

/*-------------------------------------*\
  Blocks
\*-------------------------------------*/
nav,
main,
aside,
footer {
	display: grid;
	grid-column: full;
	grid-template-columns: subgrid;
	padding-block: var(--pad);
}

nav {
	padding: Calc(var(--pad) / 1.5) 0;

	p {
		grid-column-start: wide-start;
		margin: 0;
	}
}

.intro {
	font-size: 1.5em;
	line-height: 1.4;
	max-width: 27ch;
	grid-column-end: filler-end;

	@media (min-width: 40em) {
		margin-block-end: 10vw;
		margin-inline-start: 25vw;
	}
}

.activities {
	padding-inline-start: 0;

	li {
		border-bottom: 1px solid oklch(from var(--text) l c h / calc(alpha - 0.8));
		list-style: none;
		padding-block-end: 1.5em;
		padding-block-start: 1.5em;

		&:last-child {
			border: none;
		}
	}
}

.social {
	column-gap: 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	grid-column: wide;
	margin-block-start: 2.75em;
	max-width: none;
	padding: 0;
	row-gap: 1em;

	li {
		border: none;
		padding: 0;
	}
}

.a11y-webring-club {
	text-align: center;
	display: block;

	p {
		margin: auto;
	}

	ul {
		list-style: none;
		row-gap: 0;
	}
}

.workshops,
.posts {
	@extend .light-box;
	@extend .activities;
	font-size: .8em;

	strong,
	.title {
		display: block;
		font-size: 1.25em;
		margin-block-end: .5em;
	}

	strong {
		color: var(--text);
	}
}

#workshops + p {
	grid-column-start: wide-start;
}

p:has(.tocgle) {
	grid-column: centered;
}

.tocgle {
	margin: 5vw auto 5vw;
	display: block;
}

.toc {
	margin: 0 auto 10vw;
	grid-column: centered;

	&[aria-hidden="true"] {
		display: none;
		visibility: hidden;
	}
}

h2 + .toc {
	margin: 0;
}

.summary {
	background-color: oklch(from var(--text) l c h / calc(alpha - 0.93));
	border: 2.5px solid var(--text);
	border-radius: .4em;
	grid-column: wide;
	box-sizing: border-box;
	margin: auto;
	max-width: 60ch;
	padding: 1.6em 2em;

	h2 {
		margin-block-start: .5em;
	}
}

.take-away {
	background-color: oklch(from var(--text) l c h / calc(alpha - 0.9));
	border: 2.5px solid var(--text);
	border-radius: .4em;
	box-sizing: border-box;
	margin-block-start: 2em;
	padding: .8em 1em;

	&::before {
		content: "👉 " / "";
	}
}

table {
	border-collapse: collapse;
	display: block;
	grid-column: wide;
	grid-column-start: content-start;
	overflow: auto;
	margin-block: 1em;
}

tr:nth-child(2n) {
	background-color: oklch(from var(--text) l c h / calc(alpha - 0.9));
}

td,
th {
	white-space: pre;
	padding: .1em .7em .1em 0;
}

.language-html {
	background-color: oklch(from var(--text) l c h / calc(alpha - 0.9));
	grid-column: wide;
	margin-block: 1em;
	overflow: auto;
}

div.highlight {
	padding: 1em var(--pad);
	width: fit-content;
}

@media (prefers-color-scheme: light) {
	.nt {
		color: oklch(from var(--color) calc(l - 0.1) c h);
	}

	.na {
		color: oklch(from var(--color) calc(l - 0.3) c h);
	}
}

@media (prefers-color-scheme: dark) {
	.nt {
		color: oklch(from var(--color) calc(l + 0.1) c h);
	}

	.na {
		color: oklch(from var(--color) calc(l + 0.3) c h);
	}
}

.footnotes {
	grid-column: content;
}

.webmentions {
	grid-column: wide;

	&__not-found {
		opacity: .7;
		text-align: center;
		max-width: 100%;
	}
}

.chrono-links {
	display: grid;
	gap: 1em;
	grid-column: centered;
	grid-template-columns: 
		[newer-start] 1fr
		[newer-end older-start] 1fr
		[older-end];
	list-style: none;
	max-width: none;
	padding: 0;

	.older {
		text-align: right;
		grid-column: older;
	}
}

footer {
	font-size: .8em;
	text-align: center;

	p {
		grid-column: centered;
	}
}
