/*-------------------------------------*\

  Portfolio

  - Floris Jansen, hey@fmjansen.nl

  base.scss
  + SCSS Variables
  + CSS Variables
  + Reset
  + Paragraph styles
  + Site top
  + Front page
  + Portfolio
  + Menu
  + Footer
  + Imports

\*-------------------------------------*/





/* space-grotesk-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/space-grotesk-v5-latin-700.woff2') format('woff2'),
       url('../fonts/space-grotesk-v5-latin-700.woff') format('woff');
}

/* mulish-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/mulish-v3-latin-300.woff2') format('woff2'),
       url('../fonts/mulish-v3-latin-300.woff') format('woff');
}

/* mulish-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/mulish-v3-latin-800.woff2') format('woff2'),
       url('../fonts/mulish-v3-latin-800.woff') format('woff');
}






/*-------------------------------------*\
  SCSS Variables
\*-------------------------------------*/
$main-font: 'Mulish', 'Helvetica Neue', Arial, sans-serif;
$sec-font: 'Space Grotesk', monospace;
$text: #162933;
$main-color: #e4485b;
$sec-color: lighten(#ef686c, 4%);
$break--tablet: 768px;
$break--laptop: 1200px;
$break--desktop: 1600px;





/*-------------------------------------*\
  CSS Variables
\*-------------------------------------*/
:root {
  --color: 228, 72, 91;
  --text: 12, 21, 31;
  --background: 255, 255, 255;
  --pad: 7vw;

  @media (prefers-color-scheme: dark) {
    --color: 228, 72, 91;
    --text: 255, 255, 255;
    --background: 12, 21, 31;
  }
}





/*-------------------------------------*\
  Reset
\*-------------------------------------*/
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: rgba(var(--background), 1);
  color: rgba(var(--text), 1);
  font-family: $main-font;
  font-size: clamp(1em, 4vw, 1.2em);
  margin: 0;
  word-wrap: break-word;
}

*:focus-visible {
  outline: .2em dashed blue;
  outline-offset: .5em;

  @media (prefers-color-scheme: dark) {
    outline-color: gold;
  }
}





/*-------------------------------------*\
  Paragraph styles
\*-------------------------------------*/
h1 {
  font-size: clamp(1.5em, 7vw, 3em);
  margin-bottom: var(--pad);
  margin-top: 0;
  font-family: $sec-font;
  max-width: 18ch;
  position: relative;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $sec-font;
  line-height: 1.1;
  margin: var(--pad) 0 .5em;
}

p,
ol,
ul {
  line-height: 1.5;
  max-width: 45ch;
}

ul {
  margin: 1em 0;
  padding-left: 1.5em;

  li {
    padding-bottom: 1em;

    &::marker {
      color: rgba(var(--color), 1);
    }
  }
}

hr {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0 0;
  margin: var(--pad);
}

a {
  color: rgba(var(--text), 1);
  text-decoration-color: rgba(var(--color), 1);
}

strong {
  font-weight: bold;
}

blockquote {
  background: rgba(var(--text), .1);
  border-left: .2em #eee solid;
  margin: 2em auto;
  max-width: 38em;
  overflow: hidden;
  width: 88vw;

  p {
    box-sizing: border-box;
    padding: 0 1.5rem;
  }

  > p:first-child {
    font-size: 1.2em;
    line-height: 1.35;
    margin-bottom: 0;
    max-width: 100%;
  }

  > :nth-child(2) {
    margin-top: .5em;
  }
}

.button {
  background: transparent;
  border: .15em solid rgba(var(--color), 1);
  border-radius: .3em;
  color: rgba(var(--color), 1);
  display: inline-block;
  font-family: $sec-font;
  font-size: 1em;
  padding: .6em 1em;
  text-decoration: none;

  &:hover,
  &:focus {
    background: rgba(var(--color), 1);
    color: white;
  }

  &--special:hover,
  &--special:focus {
    color: var(--background, white);
  }

  &:active {
    transform: scale(.95);
  }

  &--secondary {
    border-color: $sec-color;
  }
}

.you {
  background: linear-gradient(155deg, $main-color, $sec-color);
  border-radius: 1em 1em .25em;
  color: rgba(var(--background), 1);
  float: left;
  margin: .5em 0 .4em 3em;
  padding: .8em;
  text-align: right;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.me {
  border: 1px solid $text;
  border-color: rgba(var(--color), 1);
  border-radius: 1em 1em 1em .25em;
  clear: both;
  float: left;
  margin: .5em 0 .5em;
  padding: .8em;

  & + * {
    clear: both;
  }
}

.external::after {
  border: 1.5px solid #006;
  border-color: inherit;
  content: "➚";
  display: inline-block;
  font-size: .7em;
  font-weight: bold;
  height: 0;
  line-height: 0;
  margin-left: .8ch;
  padding: 0 0 .6em .2em;
  text-shadow: 0 2px 0 white, -2px 0 0 white;
  vertical-align: middle;
  width: .4em;
}

.title {
  background: var(--background, $main-color);
  color: var(--color, white);
  font-family: $sec-font;
  font-size: var(--big-font);
  line-height: 1.2;
  padding: var(--pad);
  padding-top: calc(27.5vh + var(--pad));

  @media (min-width: $break--tablet) {
    padding: calc(var(--pad) * 1.1) calc(var(--pad) * 1.5);
  }

  &__heading {
    margin-bottom: .3em;

    @media (min-width: $break--laptop) {
      margin-bottom: 0;
    }
  }

  &__category {
    font-size: 1.2rem;
    opacity: .8;
  }
}





/*-------------------------------------*\
  Site top
\*-------------------------------------*/
.site-top {
  display: flex;
  font-family: $sec-font;
  justify-content: space-between;

  &__title {
    display: inline-block;
    margin: var(--pad);
  }

  &__menu-link {
    margin: var(--pad);
  }
}





/*-------------------------------------*\
  Front page
\*-------------------------------------*/
main {
  padding: var(--pad);

  @media (min-width: $break--laptop) {
    padding-top: 0;
  }
}

.intro {
  margin-top: 27.5vh;

  @media (min-width: $break--laptop) {
    margin-top: 25vh;
  }

  &__portrait {
    right: 0;
    max-width: 35em;
    position: absolute;
    top: calc(var(--pad) * 2 + 1em);
    width: calc(100vw - var(--pad) * 2);

    @media (min-width: $break--laptop) {
      right: var(--pad);
      transform: none;
      top: calc(var(--pad) * 2);
      width: 40vw;
    }
  }
}





/*-------------------------------------*\
  Portfolio
\*-------------------------------------*/
.portfolio {
  margin: 0;
  padding: var(--pad) 0;

  @media (min-width: $break--tablet) {
    display: grid;
    grid-column-gap: calc(var(--pad) / 2);
    grid-row-gap: calc(var(--pad) / 2);
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $break--laptop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &--industrial {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__link {
    &:hover .portfolio__image {
      transform: translateY(-.2em);
      box-shadow: 0 .5em 2em transparentize(black, .7);
    }
  }

  &__image {
    box-shadow: 0 .3em 1em transparentize(black, .7);
    cursor: pointer;
    flex-grow: 1;
    transition: transform 150ms ease-out;
    width: 7em;

    img {
      display: block;
      height: auto;
      margin-bottom: -1px;
      width: 100%;
    }
  }

  &__category {
    font-family: $sec-font;
    margin: 2em 0 .5em;
    opacity: .7;
  }

  &__description {
    font-weight: bold;
    font-size: clamp(1.3em, 3vw, 1.6em);
    line-height: 1.2;
    margin-top: 0em;
    max-width: 25ch;
  }

  &__item {
    box-shadow: 0 .5em 1.5em transparentize(black, .8);
    min-width: 12em;
    position: relative;
    transition: box-shadow 150ms ease-out,
      transform 150ms ease-out;
    text-align: center;
    width: 100%;
    z-index: 4;

    &:hover,
    &:focus {
      box-shadow: 0 .5em 3.5em transparentize(black, .7);
      transform: translateY(-.2em);
    }
  }

  &__thumb {
    aspect-ratio: 9 / 15;
    margin-bottom: 2.5em;
    max-width: 20em;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    clear: both;
    color: white;
    margin: 0 0 1em;
    text-shadow: 0 .05em .1em transparentize(black, .5);

    a {
      text-decoration: none;
    }
  }
}

.conversation {
  margin-bottom: 1.5em;
  min-width: 15em;
  overflow: hidden;
}

.section-head {
  color: rgba(var(--text), 1);
  line-height: 1.2;
  width: 100%;

  &--overlap {
    font-size: 2em;
    line-height: 1;
    margin: 0 0 -.4em;
  }
}





/*-------------------------------------*\
  Menu
\*-------------------------------------*/
.main-menu {
  display: flex;
  flex-flow: row wrap;
  font-family: $sec-font;
  font-size: .9em;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity 150ms ease-out;

  &:target {
    border: .2em dotted rgba(var(--color), 1);
  }

  &__item {
    padding: 1em;

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &--close {
      font-style: italic;
      display: none;
    }
  }

  &.open {
    background: rgba(var(--background), 0.9);
    bottom: 0;
    box-sizing: border-box;
    flex-flow: column;
    padding: var(--pad);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6;

    .main-menu__item--close {
      display: block;
    }
  }
}





/*-------------------------------------*\
  Footer
\*-------------------------------------*/
.contact {
  background: rgba(var(--color), .1);
  border-radius: 1.8em 1.8em .4em .4em;
  margin: calc(var(--pad) * .5) auto calc(var(--pad) * 2);
  max-width: 18em;
  padding: calc(var(--pad) / 2 - .5em) calc(var(--pad) / 2) calc(var(--pad) / 2 - 1em);
}

.networks {
  columns: 2;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }
}

footer {
  color: rgba(var(--text), .7);
  overflow: hidden;
  text-align: center;
}

.footer {
  &__colofon {
    margin: 2em var(--pad);
    max-width: none;
  }
}





/*-------------------------------------*\
  Import
\*-------------------------------------*/
@import "project";
@import "page";
