/*-------------------------------------*\

  Portfolio: Page

  - Floris Jansen, hey@fmjansen.nl

  page.scss
  + Page
  + Design skills

\*-------------------------------------*/





/*-------------------------------------*\
  Page
\*-------------------------------------*/
.page {
  padding-bottom: var(--pad);
  padding-top: var(--pad);

  $content-width: 38em;

  p,
  ul,
  ol,
  h2,
  h3 {
    margin: 1em auto;
    max-width: $content-width;
    width: 100vw - calc(var(--pad) * 2);
  }

  h2 {
    max-width: $content-width / 1.5;
  }

  h3 {
    max-width: $content-width / 1.17;
  }
}





/*-------------------------------------*\
  Design skills
\*-------------------------------------*/
.competences {
  margin: 0 0 var(--pad);
}

.design-competence {
  margin: calc(var(--pad) / 2) 0;

  &__illustration {
    text-align: center;
  }

  &__image {
    display: inline-block;
    max-width: 25em;
  }

  p {
    width: 100%;
  }

  &__skills {
    opacity: .7;
  }

  &__sub {
    color: $main-color;
    margin-top: 1.5em;
  }
}
