/*-------------------------------------*\

  Portfolio: Project

  - Floris Jansen, hey@fmjansen.nl

  project.scss
  + Project page

\*-------------------------------------*/





/*-------------------------------------*\
  Project page
\*-------------------------------------*/
.project {
  padding: var(--pad) 0;

  $content-width: 38em;

  p,
  ul,
  ol,
  h2,
  h3 {
    box-sizing: border-box;
    margin: 1em auto;
    max-width: $content-width;
    width: calc(100vw - var(--pad) * 2);
  }

  p:first-child {
    margin-top: var(--pad);
  }

  h2 {
    line-height: 1.2;
    margin-top: 0;
    max-width: $content-width / 1.5;
    padding-top: var(--pad);
    position: relative;

    &:nth-of-type(1)::before {
      content: "The case:";
      display: block;
      opacity: .8;
    }

    &:nth-of-type(2)::before {
      content: "The solution:";
      display: block;
      opacity: .8;
    }

    &:nth-of-type(3)::before {
      content: "My role:";
      display: block;
      opacity: .8;
    }

    @media (min-width: $break--tablet) {
      font-size: 2em;
      max-width: $content-width / 2;
    }
  }

  li {
    margin: .8em 0;
  }

  &__picture-group {
    align-items: baseline;
    background: rgba(var(--text), .1);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: calc(var(--pad) * 2) 0;
    overflow-x: auto;
    padding: 0 1em;
    position: relative;
    z-index: 3;

    &--light {
      background: transparent;
      justify-content: center;
      text-align: center;
    }

    & + hr {
      display: none;
    }

    &.project__picture-group:last-child {
      margin-bottom: calc(-1 * var(--pad));
    }
  }

  &__picture {
    display: inline-block;
    margin: 2em 1em;

    &:last-child {
      padding-right: 2em;
    }
  }

  &__image {
    display: block;
    height: auto;
    max-height: 60vh;
    max-width: calc(100vw - var(--pad) * 2);
    width: auto;
  }

  &__caption {
    display: block;
    font-size: .9em;
    max-width: 60ch;
    opacity: .8;
    padding: 1em 0 .5em;
    text-align: left;
  }

  &__picture-group--light .project__picture:last-child {
    margin: 2em 0 1em;
    padding: 0;
  }

  &__picture-group--light .project__caption {
    color: rgba(var(--text), 1);
    margin: auto;
    padding-left: var(--pad);
    padding-right: var(--pad);

    @media (min-width: $break--tablet){
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.full-width {
  &__picture {
    margin: var(--pad) 0;
    overflow: auto;
  }

  &__image {
    max-height: 60vh;
    width: auto;
  }

  &__caption {
    font-size: .9em;
    opacity: .8;
    padding: 1em;
  }
}

.prevnext {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;

  &__item {
    background: var(--background, $text);
    color: var(--color, #fff);
    display: block;
    flex-grow: 1;
    font-family: $sec-font;
    line-height: 2;
    padding: var(--pad);
    text-decoration: none;
    width: 10em;

    &:nth-of-type(2) {
      text-align: right;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  &__title {
    display: block;
    font-size: clamp(1.5em, 5vw, 3em);
    font-weight: 900;
    line-height: 1.2;
  }

  &__category {
    opacity: .8;
  }
}

.toc {
  background: rgba(var(--background), 1);
  bottom: 0;
  font-size: .9em;
  position: fixed;
  width: 100%;
  z-index: 4;

  @media (min-width: 1024px) {
    background: none;
    height: 0;
    position: sticky;
    top: 0;
    width: 12em;
    z-index: 2;
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: .25em 2vw;

    @media (min-width: 1024px) {
      flex-flow: column;
      padding-top: var(--pad);
    }
  }

  &__item {
    margin-bottom: 0;

    a {
      display: block;
      padding: .25em .85em;
    }
  }
}
