/*-------------------------------------*\

  Portfolio: Project

  - Floris Jansen, hey@fmjansen.nl

  project.scss
  + Project page

\*-------------------------------------*/





/*-------------------------------------*\
  Project page
\*-------------------------------------*/
.project {
  background: white;
  padding: $pad 0;

  $content-width: 38rem;

  p,
  ul,
  ol,
  h2,
  h3 {
    width: 100vw - $pad * 2;
    max-width: $content-width;
    margin: 1em auto;
  }

  h2 {
    position: relative;
    margin-top: $pad;
    line-height: 1.2;

    &::before {
      content: "The case:";
      display: block;

      @media (min-width: $break--laptop) {
        left: -15rem;
        position: absolute;
        text-align: right;
        width: 14rem;
        opacity: .4;
      }
    }

    &:nth-of-type(2)::before {
      content: "The solution:";
    }

    &:nth-of-type(3)::before {
      content: "My role:";
    }
  }

  li {
    margin: .8em 0;
  }

  &__picture-group {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: $pad 0;
    background: $text;
    padding: 0 1em;
    align-items: baseline;

    &--light {
      background: transparent;
      justify-content: center;
      text-align: center;
    }

    & + hr {
      display: none;
    }
  }

  &__picture {
    margin: 2em 1em;
    display: inline-block;

    &:last-child {
      padding-right: 2em;
    }
  }

  &__image {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 70vh;
    display: block;
  }

  &__caption {
    display: block;
    padding: 1em 0 .5em;
    opacity: .8;
    color: white;
    font-size: .9em;
    max-width: 80ch;
  }

  &__picture-group--light .project__picture:last-child {
    margin: 2em 0 1em;
    padding: 0;
  }

  &__picture-group--light .project__caption {
    color: $text;
  }
}

.full-width {
  &__picture {
    overflow: auto;
    margin: $pad 0;
  }

  &__caption {
    padding: 1em;
    font-size: .9em;
    opacity: .8;
  }
}

.prevnext {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    padding: $pad;
    flex-grow: 1;
    width: 10em;
    font-family: $sec-font;
    text-decoration: none;
    color: var(--color, #fff);
    background: var(--background, $text);

    &:nth-of-type(2) {
      text-align: right;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  &__title {
    font-size: calc(var(--big-font) / 1.2);
    font-weight: 900;
    display: block;
  }
}
