/*-------------------------------------*\

  Portfolio: Project

  - Floris Jansen, hey@fmjansen.nl

  project.scss
  + Project page

\*-------------------------------------*/





/*-------------------------------------*\
  Project page
\*-------------------------------------*/
.project {
  background: white;
  padding-bottom: $pad;

  $content-width: 38rem;

  p,
  ul,
  ol,
  h2,
  h3 {
    width: 100vw - $pad * 2;
    max-width: $content-width;
    margin: 1em auto;
  }

  h2 {
    position: relative;
    margin-top: $pad;
    line-height: 1.2;

    &::before {
      content: "The case:";
      display: block;

      @media (min-width: $break--laptop) {
        left: -15rem;
        position: absolute;
        text-align: right;
        width: 14rem;
        opacity: .4;
      }
    }

    &:nth-of-type(2)::before {
      content: "The solution:";
    }

    &:nth-of-type(3)::before {
      content: "My role:";
    }
  }

  li {
    margin: .8em 0;
  }
}

.prevnext {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    padding: $pad;
    flex-grow: 1;
    width: 10em;
    font-family: $sec-font;
    text-decoration: none;
    color: var(--color, #fff);
    background: var(--background, $text);

    &:nth-of-type(2) {
      text-align: right;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  &__title {
    font-size: calc(var(--big-font) / 1.2);
    font-weight: 900;
    display: block;
  }
}
